# Rename this file to .env and fill in to use live FileMaker instead of mock
FM_SERVER=https://10.56.12.24
FM_DB=new excessland management
FM_LAYOUT=Requests_API
FM_USER=api_user
FM_PASS=test
PORT=3000